<!DOCTYPE html>
<html>
<head>
  <title>Edit Resume</title>
</head>
<body>
  <h1>Edit Resume</h1>
  <form action="/update_generated_resume/<%= resume.id %>" method="POST">
    <!-- User Info -->
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" value="<%= resume.firstName %>">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" value="<%= resume.lastName %>">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= resume.email %>">

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" value="<%= resume.phone %>">

    <!-- Skills -->
    <label for="skills">Skills:</label>
    <input type="text" id="skills" name="skills" value="<%= resume.skills.join(', ') %>">

    <!-- LinkedIn URL -->
    <label for="linkedUrl">LinkedIn URL:</label>
    <input type="url" id="linkedUrl" name="linkedUrl" value="<%= resume.linkedUrl %>">

    <!-- Education -->
    <h3>Education</h3>
    <% resume.education.forEach((edu, index) => { %>
      <div>
        <label for="degree_<%= index %>">Degree:</label>
        <input type="text" id="degree_<%= index %>" name="education[<%= index %>][degree]" value="<%= edu.degree %>">
        
        <label for="institution_<%= index %>">Institution:</label>
        <input type="text" id="institution_<%= index %>" name="education[<%= index %>][institution]" value="<%= edu.institution %>">
        
        <label for="start_date_<%= index %>">Start Date:</label>
        <input type="date" id="start_date_<%= index %>" name="education[<%= index %>][start_date]" value="<%= edu.start_date %>">
        
        <label for="end_date_<%= index %>">End Date:</label>
        <input type="date" id="end_date_<%= index %>" name="education[<%= index %>][end_date]" value="<%= edu.end_date %>">
      </div>
    <% }) %>

    <!-- Experience -->
    <h3>Experience</h3>
    <% resume.experience.forEach((exp, index) => { %>
      <div>
        <label for="company_name_<%= index %>">Company Name:</label>
        <input type="text" id="company_name_<%= index %>" name="experience[<%= index %>][company_name]" value="<%= exp.company_name %>">
        
        <label for="role_<%= index %>">Role:</label>
        <input type="text" id="role_<%= index %>" name="experience[<%= index %>][role]" value="<%= exp.role %>">
        
        <label for="start_date_<%= index %>">Start Date:</label>
        <input type="date" id="start_date_<%= index %>" name="experience[<%= index %>][start_date]" value="<%= exp.start_date %>">
        
        <label for="end_date_<%= index %>">End Date:</label>
        <input type="date" id="end_date_<%= index %>" name="experience[<%= index %>][end_date]" value="<%= exp.end_date %>">
        
        <label for="description_<%= index %>">Description:</label>
        <textarea id="description_<%= index %>" name="experience[<%= index %>][description]"><%= exp.description %></textarea>
      </div>
    <% }) %>

    <!-- Projects -->
    <h3>Projects</h3>
    <% resume.projects.forEach((proj, index) => { %>
      <div>
        <label for="project_name_<%= index %>">Project Name:</label>
        <input type="text" id="project_name_<%= index %>" name="projects[<%= index %>][project_name]" value="<%= proj.project_name %>">
        
        <label for="github_link_<%= index %>">GitHub Link:</label>
        <input type="url" id="github_link_<%= index %>" name="projects[<%= index %>][github_link]" value="<%= proj.github_link %>">
      </div>
    <% }) %>

    <!-- Certificates -->
    <h3>Certificates</h3>
    <% resume.certificates.forEach((cert, index) => { %>
      <div>
        <label for="certificate_name_<%= index %>">Certificate Name:</label>
        <input type="text" id="certificate_name_<%= index %>" name="certificates[<%= index %>][certificate_name]" value="<%= cert.certificate_name %>">
        
        <label for="issuing_organization_<%= index %>">Issuing Organization:</label>
        <input type="text" id="issuing_organization_<%= index %>" name="certificates[<%= index %>][issuing_organization]" value="<%= cert.issuing_organization %>">
        
        <label for="issue_date_<%= index %>">Issue Date:</label>
        <input type="date" id="issue_date_<%= index %>" name="certificates[<%= index %>][issue_date]" value="<%= cert.issue_date %>">
        
        <label for="expiration_date_<%= index %>">Expiration Date:</label>
        <input type="date" id="expiration_date_<%= index %>" name="certificates[<%= index %>][expiration_date]" value="<%= cert.expiration_date %>">
      </div>
    <% }) %>

    <button type="submit">Update Resume</button>
  </form>
</body>
</html>
