<h1>Edit Experience</h1>
<form action="/update_experience/<%= user.id %>" method="post">
    <% experiences.forEach(function(exp, index) { %>
        <div>
            <h3><%= exp.company_name %> (<%= exp.start_date %> - <%= exp.end_date %>)</h3>
            <textarea name="description_<%= exp.id %>" rows="5" cols="30"><%= exp.description %></textarea>
        </div>
    <% }); %>
    <button type="submit">Update Experience</button>
</form>
