<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Resume</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Resume Generator</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Resume for <%= firstName %> <%= lastName %></h1>
        <p>Email: <%= email %></p>
        <p>Phone: <%= phone %></p>
        
        <h2>Education</h2>
        <% education.forEach(function(edu) { %>
            <div>
                <p>Degree: <%= edu.degree %></p>
                <p>Institution: <%= edu.institution %></p>
                <p>Start Date: <%= edu.start_date %></p>
                <p>End Date: <%= edu.end_date %></p>
            </div>
        <% }); %>
        
        <h2>Experience</h2>
        <% experience.forEach(function(exp) { %>
            <div>
                <p>Company Name: <%= exp.company_name %></p>
                <p>Role: <%= exp.role %></p>
                <p>Experience Start Date: <%= exp.experience_start_date %></p>
                <p>Experience End Date: <%= exp.experience_end_date %></p>
                <ul>
                    <% exp.description.split('. ').forEach(function(point) { %>
                        <li><%= point %></li>
                    <% }); %>
                </ul>
            </div>
        <% }); %>
        
        <h2>Skills</h2>
        <ul>
            <% skills.forEach(function(skill) { %>
                <li><%= skill.skill_name %> - <%= skill.proficiency_level %></li>
            <% }); %>
        </ul>
        
        <% if (linkedUrl) { %>
            <h2>LinkedIn</h2>
            <p><a href="<%= linkedUrl %>" target="_blank"><%= linkedUrl %></a></p>
        <% } %>
        
        <h2>Certificates</h2>
        <ul>
            <% certificates.forEach(function(cert) { %>
                <li>
                    <strong><%= cert.certificate_name %></strong> from <%= cert.issuing_organization %><br>
                    <em>Issue Date:</em> <%= cert.issue_date %>, <em>Expiration Date:</em> <%= cert.expiration_date %>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
