<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updated Resume</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/resume_styles.css">
</head>
<body>
    <% if (typeof pdf === 'undefined' || !pdf) { %>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Resume Generator</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <% } %>
    <div class="resume-container">
        <h1><%= firstName %> <%= lastName %></h1>
        <p><%= phone %> | <%= email %> | <a href="<%= linkedUrl %>" target="_blank"><%= linkedUrl %></a></p>

        <h2>Education</h2>
        <% education.forEach(function(edu) { %>
            <p><strong><%= edu.institution %></strong> | <%= edu.start_date %> - <%= edu.end_date %><br>
            <%= edu.degree %></p>
        <% }); %>

        <h2>Projects</h2>
        <ul>
        <% projects.forEach(function(project) { %>
            <li>
                <strong><%= project.project_name %></strong>
            </li>
        <% }); %>
        </ul>

        <h2>Experience</h2>
        <% experience.forEach(function(exp) { %>
            <p><strong><%= exp.role %></strong>, <%= exp.company_name %> | <%= exp.start_date %> - <%= exp.end_date %></p>
            <ul>
                <% (typeof exp.description === 'string' ? exp.description.split('; ') : exp.description).forEach(function(point) { %>
                    <li><%= point %></li>
                <% }); %>
            </ul>
        <% }); %>

        <h2>Skills</h2>
        <ul>
            <% skills.forEach(function(skill) { %>
                <li><%= skill.skill_name %> - <%= skill.proficiency_level %></li>
            <% }); %>
        </ul>

        <h2>Certificates</h2>
        <ul>
            <% certificates.forEach(function(cert) { %>
                <li>
                    <strong><%= cert.certificate_name %></strong> from <%= cert.issuing_organization %><br>
                    <em>Issue Date:</em> <%= cert.issue_date %>, <em>Expiration Date:</em> <%= cert.expiration_date %>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
